.linkStyle_1{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
margin:0;}
a.linkStyle_1:visited{color:#000000; text-decoration:none;}
a.linkStyle_1:hover{color:#A0A0A0; text-decoration:none;}
.linkStyle_4{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_4:visited{color:#000000; text-decoration:none;}
a.linkStyle_4:hover{color:#A0A0A0; text-decoration:none;}
.Style7{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
}
.linkStyle_8{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
font-style: italic; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_8:visited{color:#000000; text-decoration:none;}
a.linkStyle_8:hover{color:#A0A0A0; text-decoration:none;}
.Style11{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 36px; 
font-weight: bold; 
margin:0;}
.Style12{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 36px; 
font-weight: normal;
}
.Style13{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 19px; 
margin:0;}
.Style14{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
margin:0;}
a.Style14:visited{color:#000000; text-decoration:none;}
a.Style14:hover{color:#A0A0A0; text-decoration:none;}
.linkStyle_17{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_17:visited{color:#000000; text-decoration:none;}
a.linkStyle_17:hover{color:#A0A0A0; text-decoration:none;}
.Style20{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
}
.Style21{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 14px; 
margin:0;}
.Style22{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
font-style: italic; 
}
.linkStyle_23{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#8E8E8E*/}
a.linkStyle_23:visited{color:#000000; text-decoration:none;}
a.linkStyle_23:hover{color:#8E8E8E; text-decoration:none;}
.Style26{font-family: 'Arial',sans-serif;
font-size: 12px; 
margin:0;}
.linkStyle_27{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
font-style: italic; 
margin:0;}
a.linkStyle_27:visited{color:#000000; text-decoration:none;}
a.linkStyle_27:hover{color:#A0A0A0; text-decoration:none;}
.Style30{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
font-style: normal;
}
.linkStyle_31{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
font-style: normal;
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_31:visited{color:#000000; text-decoration:none;}
a.linkStyle_31:hover{color:#A0A0A0; text-decoration:none;}
.Style34{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
margin:0;}
.linkStyle_35{font-family: 'Helvetica',sans-serif;
font-size: 18px; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_35:visited{color:#000000; text-decoration:none;}
a.linkStyle_35:hover{color:#A0A0A0; text-decoration:none;}
a.Style11:visited{color:#000000; text-decoration:none;}
a.Style11:hover{color:#A0A0A0; text-decoration:none;}
.linkStyle_40{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 36px; 
font-weight: bold; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_40:visited{color:#000000; text-decoration:none;}
a.linkStyle_40:hover{color:#A0A0A0; text-decoration:none;}
.linkStyle_43{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
font-style: italic; 
margin:0;}
a.linkStyle_43:visited{color:#000000; text-decoration:none;}
a.linkStyle_43:hover{color:#A0A0A0; text-decoration:none;}
.linkStyle_46{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 18px; 
font-style: italic; 
color: #000000;
text-decoration: none; 
/*110#00FF00#000000#A0A0A0*/}
a.linkStyle_46:visited{color:#000000; text-decoration:none;}
a.linkStyle_46:hover{color:#A0A0A0; text-decoration:none;}
.Style49{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 19px; 
font-style: italic; 
}
.Style50{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 19px; 
}
.Style51{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 19px; 
font-style: italic; 
margin:0;}
.Style52{font-family: 'Helvetica Neue','Arial',sans-serif;
font-size: 19px; 
font-style: normal;
}